/* Color and Spacing Variables */
:root {
    --light: #e6e5ec;
    --medium: #867fa0;
    --dark: #0d0042;
}
/* Body/Global Styles START */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--light);
}
/* Body/Global Styles END */
/* Header Styles START */
header{
    display: flex;
    padding: 30px 45px;
    background-color: var(--dark);
    color: var(--light);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
}
header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: 400;
    font-size: 1.5vw;
    text-decoration: none; 
    color: var(--light);
    border-bottom: 1px solid var(--medium);
}
/* Header Styles END */
/* Hero Styles START */
.hero{
    background-image: url("./images/PortfolioHero.jpeg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}
.subtitle-outer {
    background-color: var(--dark);
    opacity: .5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px 24px;
    margin-top: 230px;
}
.subtitle {
    color: var(--light);
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    line-height: 1.3;
    border-bottom: 1px solid var(--medium);
}
/* Hero Styles END */
/* Content Styles START */
.content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--dark);
    padding: 50px 0;
}
.content h2 {
    display: flex;
    flex: 1 15%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 0 25px;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-align: right;
    
}
.content p {
    display: flex;
    flex: 3 85%;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px 25px;
    border-left: 2px solid var(--dark);
    line-height: 1.5;
}
/* Content Styles END */
/* Footer Styles START */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 45px;
    width: 100%;
    background-color: var(--medium);
}
footer h4 {
    display: flex;
    justify-self: flex-start;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--dark);
}
footer div {
    line-height: 1.5;
    text-align: right;
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--dark);
    opacity: .5;
}
footer a {
    color: var(--dark);
}
/* Footer Styles END */
